<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cat Photo</title>
</head>
<body>
    <h1>Hello. It's [[${name}]]'s Cat Photo</h1>
    <div class="align">
        <div class="column">
            <h2>Cat Photo Generator</h2>
            <div class="separator"></div>
            <p>How many photos?: </p>
            <label><input type="number" class="cat-generate-number" onkeyup="checkValidNumber(this)"/></label>
            <button onclick="generateCats()">Get Photos(Refresh)</button>

            <div class="separator"></div>
            <div class="selected">- Selected: <b class="selected-ids">[]</b></div>
            <button onclick="addToFavorite()">Save above selected ids</button>
            <div class="separator"></div>
            <div class="images">
            </div>
        </div>
        <div class="column">
            <h2>My Favorite List</h2>
            <div class="separator"></div>
            <div class="will-be-deleted">- Selected: <b class="delete-ids">[]</b></div>
            <button onclick="deleteFromFavorite()">Delete selected ids from favorite</button>
            <div class="separator"></div>
            <div class="favorite-images">
            </div>
        </div>
    </div>
</body>
</html>
<style>
    .align {
        display: flex;
    }

    .column {
        min-width: 380px;
        padding: 20px;
        flex: 50%;
    }

    .cat-image {
        width: 300px;
        height: 150px;
        object-fit: cover;
    }

    .separator {
        border-top: 1px solid #bbb;
        margin: 8px 0;
    }
</style>
<link th:href="@{/bootstrap.min.css}" rel="stylesheet" />
<script th:src="@{/jquery.min.js}"></script>
<script type="application/javascript">
    function checkValidNumber(e) {
        $('.cat-generate-number').val(e.value.match(/\d+/g))
    }

    const HttpClient = {
        _handleFail(response) {
            const status = response.status
            if (/^(4\d*)/.test(status)) {
                alert("Auth error")
            } else if (/^(5\d*)/.test(status)) {
                alert("Error, please contact us")
            } else {
                alert("Error, please contact us")
            }
        },
        get(url, callback) {
            $.get(url)
                .done(callback)
                .fail(this._handleFail)
        },
        post(url, body, callback) {
            $.ajax({
                url: url,
                type: 'POST',
                data: JSON.stringify(body),
                contentType: 'application/json; charset=UTF-8',
                dataType: 'json',
            }).done(callback)
                .fail(this._handleFail)
        },
        delete(url, body, callback) {
            $.ajax({
                url: url,
                type: 'DELETE',
                data: JSON.stringify(body),
                contentType: 'application/json; charset=UTF-8',
                dataType: 'json',
            }).done(callback)
                .fail(this._handleFail)
        },
    }


    function generateCats() {
        const number = $('.cat-generate-number').val()
        if (!number) {
            alert('Please insert any number on input')
            return
        }
        HttpClient.get(
            `/cat/generate/?number=${number}`,
            (response) => {
                $('.images').empty()
                for (const eachResponse of response) {
                    $('.images').append(
                        $(`
                        <div>
                            <img class="cat-image" id='${eachResponse.id}' src='${eachResponse.url}'>
                            <input type="checkbox" class="to-be-added-check" onclick="setToBeAdded($(this).siblings()[0].id)">
                        </div>
                        `)
                    )
                }
            }
        )
    }

    let toBeAdded = []
    function setToBeAdded(selectedId) {
        if (toBeAdded.includes(selectedId)) {
            toBeAdded = toBeAdded.filter(each => each !== selectedId)
        } else {
            toBeAdded.push(selectedId)
        }
        $('.selected-ids').empty()
        $('.selected-ids').append(`[ ${toBeAdded.join(', ')} ]`)
    }
    function clearToBeAdded() {
        toBeAdded = []
        $('.selected-ids').empty()
        $('.selected-ids').append(`[ ${toBeAdded.join(', ')} ]`)
        $('input:checkbox.to-be-added-check').prop('checked', false)
    }

    function addToFavorite() {
        if (toBeAdded.length <= 0) {
            alert('Please select any cats!')
            return
        }
        HttpClient.post(
            `/cat/favorite`,
            { ids: toBeAdded },
            (response) => {
                alert("Successfully saved")
                retrieveFavorite()
                clearToBeAdded()
            }
        )
    }

    function retrieveFavorite() {
        HttpClient.get(
            `/cat/favorite`,
            (response) => {
                $('.favorite-images').empty()
                for (const eachResponse of response) {
                    $('.favorite-images').append(
                        $(`
                        <div>
                            <img class="cat-image" id='${eachResponse.id}' src='${eachResponse.image.url}'>
                            <input type="checkbox" class="to-be-deleted-check" onclick="setToBeDeleted($(this).siblings()[0].id)">
                        </div>
                        `)
                    )
                }
            }
        )
    }

    let toBeDeleted = []
    function setToBeDeleted(selectedId) {
        if (toBeDeleted.includes(selectedId)) {
            toBeDeleted = toBeDeleted.filter(each => each !== selectedId)
        } else {
            toBeDeleted.push(selectedId)
        }
        $('.delete-ids').empty()
        $('.delete-ids').append(`[ ${toBeDeleted.join(', ')} ]`)
    }
    function clearToBeDeleted() {
        toBeDeleted = []
        $('.delete-ids').empty()
        $('.delete-ids').append(`[ ${toBeDeleted.join(', ')} ]`)
        $('input:checkbox.to-be-deleted-check').prop('checked', false)
    }

    function deleteFromFavorite() {
        if (toBeDeleted.length <= 0) {
            alert('Please select any cats to delete!')
            return
        }
        HttpClient.delete(
            `/cat/favorite`,
            { ids: toBeDeleted },
            (response) => {
                alert("Successfully deleted")
                retrieveFavorite()
                clearToBeDeleted()
            }
        )
    }

    $(document).ready(() => {
        retrieveFavorite()
    })
</script>